<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Mercado Liebre Argentina</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>

    <footer class="main-footer containerFooter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <img class="logo" src="/images/footer/san-andres.jpg" alt="">
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <img class="imgDigital" src="/images/footer/logo-DH.jpg" alt="">
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data footer">
                        <h2>Integrantes:</h2>
                        <h3>Santiago Karagozian</h3>
                        <h3>Matías Cagliero</h3>
                        <h3>Agostina Cervio</h3>
                    </article>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>