    <footer class="main-footer containerFooter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <img class="logo" src="/images/footer/san-andres.jpg" alt="">
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <img class="imgDigital" src="/images/footer/logo-DH.jpg" alt="">
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-data">
                        <h2 id="tituloFooter">Integrantes:</h2>
                        <h3 id="integrantes">Santiago Karagozian</h3>
                        <h3 id="integrantes">Matías Cagliero</h3>
                        <h3 id="integrantes">Agostina Cervio</h3>
                    </article>
                </div>
            </div>
        </div>
    </footer>