<!DOCTYPE html>
<html lang="es">

<head>
	<title><%=productosArray[0].nombre%> | Editar Producto</title>

    <%-include('./partials/head')%>
	<!-- Stylesheet Propios -->
	<link rel="stylesheet" href="/stylesheets/header.css">
	<link rel="stylesheet" href="/stylesheets/newproduct.css">
</head>

<body>
	<%-include('./partials/headerCompleto')%>

        <div class="maincontainer">

            <div class="mainAddAll">
                <h2 class="maintitle">Editar un producto</h2>
                <form action="" method="post">

                    <div class="allform">
                        <div class="eachform">
                            <label for="">Título</label><input id="campotitulo" type="text" placeholder="Ejemplo: Alfajor Terrabusi Chocolate"></div>

                        <div class="eachform">
                            <label for="">Descripción</label><textarea name="" id="" cols="30" rows="10"></textarea></div>

                        <div class="eachform"> <label for="">Clasificación</label>
                            <ul>
                                <li><input name="stock" type="checkbox"><label for="">Vegetariano</label></li>
                                <li><input name="stock" type="checkbox"><label for="">Vegano</label></li>
                                <li><input name="stock" type="checkbox"><label for="">Sin TACC</label></li>
                            </ul>
                        </div>

                        <div class="eachform">
                            <label for="">Cargar imágen</label><input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>


                    <a href="productos/detalle:1" class="cargarform"><button type="submit">Guardar y Continuar</button></a>
                </form>

            </div>


        </div>
        <%-include('./partials/footer')%>
</body>

</html>