<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%-include("./partials/head") %>
        <!-- Own Stylesheet -->
        <link rel="stylesheet" href="stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/formularioEditarPerfil.css">


</head>

<body>
    <!--Header-->

    <%-include("./partials/headerCompleto")%>

        <!-- formulario para editar perfil-->
        <h1 class="titulo">Editar Perfil</h1>

        <form class="formulario" action="logIn.html" method="POST">
            <div class="margen">
                <input placeholder="Nuevo Email" type="email" name="emailNuevo" id="emailNuevo">
            </div>
            <div class="margen">
                <input type="text" placeholder="Nuevo nombre de Usuario" name="usuarioNuevo" id="usernameNuevo">
            </div>
            <div class="margen">
                <input type="password" placeholder="Contraseña Anterior" name="contraseña" id="password">
            </div>
            <div class="margen">
                <input type="password" placeholder="Nueva Contraseña" name="contraseñaNueva" id="passwordNueva">
            </div>
            <div class="margen">
                <input type="password" placeholder="Confirmar Nueva Contraseña" name="contraseñaNueva" id="passwordNueva">
            </div>
            <div class="margen">
                <a class="botoncito" href="/"><input class="boton botonregistrarse2" type="button" value="Confirmar Cambios"></a>
            </div>




        </form>



        <%-include('./partials/footer')%>
</body>

</html>