<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%-include("./partials/head") %>
        <!-- Own Stylesheet -->
        <link rel="stylesheet" href="stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/formularioEditarPerfil.css">
        <title>ProfileEdit</title>


</head>

<body>
    <!--Header-->

    

        <!-- formulario para editar perfil-->
        <h1 class="titulo">Editar Perfil</h1>

        <form class="formulario" action="/users/profile/edit/<%= usuario.id %>  " method="POST">
            <div class="margen">
                <input placeholder="Nuevo Email" type="email" name="email" id="email">
            </div>
            <div class="margen">
                <input type="text" placeholder="Nuevo nombre de Usuario" name="usuario" id="usuario">
            </div>
            <div class="margen">
                <input type="password" placeholder="Nueva contraseña" name="contraseña" id="password">
            </div>
            <div class="margen">
                <button type="submit">Confirmar cambios</button>
            </div>




        </form>

        <%-include('./partials/footer')%>
</body>

</html>