<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

    <title> Mercado Liebre Argentina</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/formularios.css">
    <script src="/js/registrarme.js"></script>

    <!-- UIkit JS -->


</head>

<body>
    <%-include("./partials/headerCompleto")%>

        <!-- Novedades -->
        <div class="container products-wrapper">
            <div class="row">
                <section class="conteiner">
                    <div class="col-12">
                        <h1 class="products-title tituloRegistrate">Registrate</h1>
                    </div>

                    <!-- formulario de registración-->
                    <form class="formulario" action="logIn.html" method="POST">


                        <div class="nombreApellido">
                            <input type="text" placeholder="Nombre" name="nombre" id="name">
                            <input type="text" placeholder="Apellido" name="apellido" id="lastName">
                        </div>

                        <div>
                            <input placeholder="Email" type="email" name="email" id="email">
                        </div>
                        <div>
                            <input type="text" placeholder="Usuario" name="usuario" id="username">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña" name="contraseña" id="password">
                        </div>
                        <div>
                            <input type="date" placeholder="Fecha de nacimiento" name="nacimiento" id="birth">
                        </div>
                        <div>
                            <a class="botoncito" href="/"><input class="boton botonregistrarse2" type="button" value="Registrarme"></a>
                        </div>





                    </form>
                </section>

                <!-- footer -->
                <%-include("./partials/footer") %>

                    <!-- /footer -->
</body>

</html>