<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="../public/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="stylesheets/app.css">
	<link rel="stylesheet" href="stylesheets/header.css">
	<link rel="stylesheet" href="stylesheets/search.css">
</head>

<body>
	<%-include('./partials/headerCompleto')%>

	<section class="maincontent">

		<div class="resultadoyordenar">
			<h2>Buscar:<span class="busqueda">Pan Lactal</span></h2>
			<div class="orden">
				<h2>Ordenar por:</h2>
				<ul>
					<li><a href="/search/condicion:masbarato/orden">Más barato</a></li>
					<li><a href="/search/condicion:mascaro/orden">Más caro</a></li>
				</ul>
			</div>

		</div>

		<div class="todoelsearch">

			<div class="filtrar">
				<ul>
					<li>
						<Ul>
							<li class="black">Clasificación</a></li>
							<li><a href="/search/condicion:vegetariano">Vegetariano</a></li>
							<li><a href="/search/condicion::">Vegano</a></li>
						</Ul>
					</li>
					<li>
						<Ul>
							<li class="black">Sin TACC</li>
							<li><a href="/search/condicion:sintacc">Si</a></li>
							<li><a href="/search/condicion:contacc">No</a></li>
						</Ul>
					</li>
				</ul>
			</div>

			<div class="resultados">

				<a href="/detalle:0">
					<div class="product">
						<div class="fotos"> <img src="https://vimas.store/attachments/shop_images/Coca_Cola1.png"
								alt="${element.imgalt}">
						</div>
						<h3>Coca Cola</h3>
						<h5>Tipo: Normal</h5>
						<h6>Precio por Kilo: $500</h6>
					</div>
				</a>

				<a href="/detalle:0">
					<div class="product">
						<div class="fotos"> <img
								src="https://www.pasosonline.com.ar/wp-content/uploads/2018/12/lactal-360-1.png"
								alt="${element.imgalt}">
						</div>
						<h3>Pan Lactal</h3>
						<h5>Tipo: Integral</h3>
							<h6>Precio por Kilo: $500</h6>
					</div>
				</a>
				<a href="/detalle:0">
					<div class="product">
						<div class="fotos"> <img
								src="https://static.cotodigital3.com.ar/sitios/fotos/full/00293000/00293087.jpg?3.0.129d"
								alt="${element.imgalt}">
						</div>
						<h3>Pan Bimbo</h3>
						<h5>Tipo: Artesano</h3>
							<h6>Precio por Kilo: $500</h6>
					</div>
				</a>
				<a href="/detalle:0">
					<div class="product">
						<div class="fotos"> <img
								src="https://static.cotodigital3.com.ar/sitios/fotos/full/00268400/00268423.jpg?3.0.129d"
								alt="${element.imgalt}">
						</div>
						<h3>Pan Lactal</h3>
						<h5>Tipo: Integral</h3>
							<h6>Precio por Kilo: $500</h6>
					</div>
				</a>


			</div>
	</section>


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
							¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>

</html>