.formulario {
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 40px;
}

.titulo{
    margin-left: 610px;
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
}

.conteiner {
    margin: 0 auto;
}

.tituloRegistrate {
    margin-left: 35%;
}

.divBotones {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}

.botoncito {
    display: block;
}

.boton {
    background-color: lightgray;
}

form input {
    border-radius: 999px;
    width: 100%;
    border: 1px solid red;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}

.form button {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: red;
    width: 50%;
    border: 0px;
    margin: 1% 25%;
    padding: 14px;
    font-size: 15px;
    cursor: pointer;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

.tituloLogIn {
    margin: 2% 45%;
}

