.nombreApellido {
    display: grid;
    grid-template-columns: 40% 40%;
    margin: 0 auto;
    justify-content: space-around;
}

.conteiner {
    margin: 0 auto;
}

.tituloRegistrate {
    margin-left: 35%;
}

.divBotones {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}

.botoncito {
    display: block;
}

.boton {
    margin-top: 2%;
}

form input {
    width: 100%;
    border: 1px solid gray;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}

.checkbox {
    width: 10%;
    border: 1px solid gray;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

.checkboxLabel {
    font-size: 15px;
}

.errores {
    text-align: center;
    width: 50%;
    margin: 1% auto;
}

.botonerror {
    width: 50%;
}

.checkboxDiv {
    margin: 2% 0;
}

.form button {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: gray;
    width: 50%;
    border: 0px;
    margin: 1% 25%;
    padding: 14px;
    font-size: 15px;
    cursor: pointer;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

.tituloLogIn {
    margin: 2% 45%;
}