.maincontainer {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.mainAddAll {
    display: flex;
    justify-content: center;
    width: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 2px 5px 17px 0px rgba(0, 0, 0, 0.75);
}

.maintitle {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    margin-top: 0ch;
    margin-bottom: 1.1em;
}

.mainAddAll {
    display: flex;
    flex-direction: column;
    padding: 4em;
}

.allform {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    margin-bottom: 2em;
}

.eachform {
    display: grid;
    grid-template-columns: auto 75%;
    justify-content: flex-end;
    align-items: center;
    margin: 1.4em 0em;
}

label {
    font-size: 2.4em;
    margin-right: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

#campotitulo {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    border: 0.05px solid black;
}


textarea {
    max-height: 5em;
    min-height: 10em;
    max-width: 35em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    border: 0.05px solid black;
}

.eachform ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.eachform ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 1em;
    margin: 0em;
    border-radius: 5px;
    border: 0.05px solid black;
    padding: 1em 3em;
    text-align: center;
}

.eachform ul li:hover {
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.75);
    transition: 0.2s;
}

.eachform ul li input {
    font-size: 5em;

}

.eachform ul li label {
    font-size: 1em;
    margin: 0%;
    margin-top: 1em;
}

.cargarform {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 193, 6);
    padding: 1em;
    border-radius: 50px;
    margin-top: 2.4em;
    width: 100%;
    color: white;
}

.cargarform:hover {
    background-color: rgb(2, 152, 7);
    color: white;
    text-decoration: none;
}

.cargarform button {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}